/* HEADER */
header .navbar-brand .logo{
    display: block;
    font-size: .9rem;
    padding-left: 25%;
}
header .navbar{
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    transition: all 200ms linear;
}
header .navbar .nav-link{
    color: white;
}
header .navbar .nav-link.active{
    color: #009f4d;
}
.navbar.scrolled {
    background-color: white !important;
    transition: all 200ms linear;
    padding: .5rem 0 .5rem 0 !important;
}
header .navbar.scrolled .navbar-brand span, header .navbar.scrolled .nav-link, header .navbar.scrolled .header__icon button:last-child{
    color: #3f3a64 !important;
}
header .navbar .nav-link.active, header .navbar.scrolled .nav-link.active{
    color: #009f4d !important;
}
/* Banner */
.banner .banner_content {
    background: url(./../img/b1.jpg);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 160px 0 60px;
}

.banner .banner_content h2 {
    font-size: 50px;
    font-weight: 700;

}
.banner .banner_content .description {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    opacity: 0.7;
}
/* About */
.about__about .rec{
    right: 10%;
    bottom: 0;
    width: 200px;
    height: 200px;
    text-align: center;
    transform: rotate(45deg);
    background-color: #009f4d;
}
.about__about .rec__content{
    transform: rotate(-45deg);
}
.about__about .about__box{
    background-color: #f8f9fa;
}
.about__about .about__box i {
    padding: 0 1rem 0;
    font-size: 2rem;
    color: #009f4d;
}
.player {
    border: 3px solid #009f4d;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    transition: all 0.5s;
}
.player i{
    color: #009f4d;
    line-height: 75px;
}
/* about__strategy */
.about__strategy {
    background-color: #f8f9fa;
}
/* About__strategy */
.about__generation{
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.about__generation .player:hover{
    transform: scale(1.2);
}