*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Jost', sans-serif;
    color: #636363;
    font-weight: 400;
}
a{
    text-decoration: none;
}
/* HEADER */
header .navbar-brand .logo{
    display: block;
    font-size: .9rem;
    padding-left: 25%;
}
/* BANNER */
.banner .carousel-inner .carousel-caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(39,43,54,.5);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding-left: 10%;
}