/* Footer  */
footer {
    background-color: #151421;
    color: white;
}

footer .footer_content .footer_top .row .logo {
    cursor: pointer;
}

footer .footer_content .footer_top .row .logo a {
    text-decoration: none;
    color: white;
}

footer .footer_content .footer_top .row .logo a span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: green;
    font-size: 30px;
    margin-right: 5px;
    
}

footer .footer_content .footer_top .row .logo a .title h4 {
    font-size: 30px;
    font-weight: 700 !important;
    margin: 0;
}

footer .footer_content .footer_top .row .logo a .title p {
    font-size: 14px;
    font-weight: 600;
}

footer .footer_content .footer_top .row .col-4 .description {
    color: #97a1a9;
    font-size: 18px;
    line-height: 28px;
}

footer .footer_content .footer_top .row .link  a {
    text-decoration: none;
    color: #97a1a9;
    margin-right: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

footer .footer_content .footer_top .row .link a:hover {
    color: white;
}

footer .footer_content .footer_top .row h4 {
    font-size: 22px;
    font-weight: 400;
}

footer .footer_content .footer_top .row .text p {
    color: #97a1a9;
    font-size: 18px;
    line-height: 28px;
}

footer .footer_content .footer_top .row .text p a {
    text-decoration: none;
    color: #97a1a9;
    cursor: pointer;
    transition: all 0.5s;
}

footer .footer_content .footer_top .row .text p a:hover {
    color: white;
}

footer .footer_content .footer_top .row ul {
    padding-left: 0;
}

footer .footer_content .footer_top .row ul li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 18px;
}

footer .footer_content .footer_top .row ul li a {
    text-decoration: none;
    color: #97a1a9;
    transition: all 0.5s;
    cursor: pointer;
}

footer .footer_content .footer_top .row ul li a:hover {
    color: white;
}

footer hr {
    border: none;
    width: 100%;
    height: 0.5px;
    background-color: #97a1a9;
}


footer .footer_bottom {
    color:#97a1a9;
}

footer .footer_bottom p a {
    text-decoration: none;
    color:#009f4d;
}

footer .footer_bottom p a:hover {
    color: white;
}