/* HEADER */
header .navbar-brand .logo{
    display: block;
    font-size: .9rem;
    padding-left: 25%;
}
/* BANNER */
.banner .carousel-inner{
    height: 100vh;
}
.banner .carousel-inner img{
    object-fit: cover;
}
.banner .carousel-inner .carousel-caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 42, 55, 0.7);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding-left: 10%;
    padding-bottom: 10%;
}
.banner .carousel-inner .carousel-caption h1{
    font-size: 4rem;
    line-height: 1;
    text-align: left;
}
.banner .carousel-control-prev{
    left: 90%;
}
.banner .carousel-control-next{
    left: 95%;
}
.banner .carousel-control-prev,.banner .carousel-control-next{
    top: 90%;
    width: 0;
    z-index: 10;
}
.banner .carousel-control-prev-icon,.banner .carousel-control-next-icon{
    background-image: none;
}
.banner .carousel-control-prev-icon i,.banner .carousel-control-next-icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    color: black;
    line-height: 50px;
    position: relative;
}
.wave{
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
}
.wave path{
    fill: white;
}
/* Home_Dicovery */
.home_Discovery .discover__item{
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    transition: all 0.5s;
    border-radius: .5rem;
}
.home_Discovery .discover__item:hover{
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;

}

/* Home_Service */
.home_Service .card{
    border: 1px solid transparent;
}
.home_Service .card .card-body a:first-child{
    transform: translateY(-2.5rem);
    background-color: white;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    padding: .5rem 1rem;
}
/* Home_Gallery */
.gallery__item .overlay__hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 42, 55, 0.7);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.gallery__item:hover .overlay__hover{
    visibility: visible;
    opacity: 1;
}
.gallery__item .content__hover{
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
}
.gallery__item:hover .content__hover{
    bottom: 0;
    visibility: visible;
    opacity: 1;
}
/* Bug */
.home_Gallery a{
    cursor: default;
}
.home_Gallery .gallery__item{
    cursor: pointer;
}
.home_Gallery img{
    width: 100%;
    transition: all 1s ease;
    object-fit: cover;
}
.gallery__item:hover img{
    transform: scale(1.2);
}
/* Home Success */
.home_Success .progress__item__1 h5{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}
.home_Success .progress__item__2 h5{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}
.home_Success .progress__item__3 h5{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 60%;
}
.home_Success .progress__item__4 h5{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85%;
}
.home_Success .progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
}
.home_Success .progress-bar-striped{
    background-size: cover;
    background-image: none;
}
.home_Success .progress .bar__1{
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}
.home_Success .progress .bar__2{
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}
.home_Success .progress .bar__3{
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}
.home_Success .progress .bar__4{
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.home_Success .progress .bar__1::before, .home_Success .progress .bar__2::before, .home_Success .progress .bar__3::before, .home_Success .progress .bar__4::before{
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}
.home_Success .progress .bar__1::after, .home_Success .progress .bar__2::after, .home_Success .progress .bar__3::after, .home_Success .progress .bar__4::after{
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: white;
}
.home_Success .progress .bar__1::before, .home_Success .progress .bar__1::after{
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.home_Success .progress .bar__2::before, .home_Success .progress .bar__2::after{
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.home_Success .progress .bar__3::before, .home_Success .progress .bar__3::after{
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.home_Success .progress .bar__4::before, .home_Success .progress .bar__4::after{
    content: "";
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
/* Home__feedback */
.home_feedback .profile__avatar{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
}
.home_feedback .profile__avatar img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.home_feedback .profile__name h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.home_feedback .profile__name p{
    margin-bottom: 0;
}
.home_feedback .carousel-item{
    height: 40vh;
}
.home_feedback .carousel-indicators button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
    background-color: #404040;
    margin-right: 1rem;
    transition: all 0.5s;
}
.home_feedback .carousel-indicators button.active, .home_feedback .carousel-indicators button:hover{
    background-color: #213364;
    transform: scale(1.5);
}