*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Jost', sans-serif;
    color: #636363;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(29, 42, 55, 0.7);
    z-index: -1;
}

/* HEADER */
header .navbar-brand .logo{
    display: block;
    font-size: .9rem;
    padding-left: 25%;
}
header .navbar{
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    transition: all 200ms linear;
}
header .navbar .nav-link{
    color: white;
}
header .navbar .nav-link.active{
    color: #009f4d;
}
.navbar .scrolled {
    background-color: white !important;
    transition: all 200ms linear;
    padding: .5rem 0 .5rem 0 !important;
}
header .navbar.scrolled .navbar-brand span, header .navbar.scrolled .nav-link, header .navbar.scrolled .header__icon button:last-child{
    color: #3f3a64 !important;
}
header .navbar .nav-link .active,header .navbar.scrolled .nav-link .active{
    color: #009f4d !important;
}

/* Banner  */
.banner .banner_content {
    background: url(./../img/b1.jpg);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 160px 0 60px;
}

.banner .banner_content h2 {
    font-size: 50px;
    font-weight: 700;
}

.banner .banner_content .description {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    opacity: 0.7;
}

/* Our Services  */
.service {
    background-color: #f7f7f7;

}

.service .service_content .service_title .sub_title {
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #7e7d7d !important;
}

.service .service_content .service_title h2 {
    color: #3f3a64;
    font-size: 35px !important;
    font-weight: 700 !important;
}

.service .service_content .service_item .img {
    padding: 20px 270px 15px;
}

.service .service_content .service_item .card .card-body {
   padding: 0;
    
}

.service .service_content .service_item h5 {
    color: #3f3a64;
    font-size: 28px !important;
    font-weight: 600 !important;
    margin: 20px 0;
}

.service .service_content .service_item .card-text {
    font-size: 17px;
    line-height: 27px;
    opacity: 0.7;
    margin: 30px 0;
}

.service .service_content .service_item  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #00a63f ;
    border: 1px solid #00a63f;
    transition: all 0.5s;
}

.service .service_content .service_item a:hover {
    background-color: #008030;
    border: 1px solid #00732c;
}

.service .service_content .service_item .card,img {
    border-radius: 0px !important;
    border: none;
}

/* Industries  */
.indus {
    padding: 70px 0;
}

.indus .indus_content .indus_title .sub_title {
    font-size: 15px;
    font-weight: 600;
}

.indus .indus_content .indus_title h2 {
    font-size: 35px;
    font-weight: 700;
    color: #3f3a64;
    margin: 20px 0 40px;
}

.indus .indus_content .indus_group .card {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    padding: 50px 35px;
    background-color: #f8f9fa;
    border: none;
    box-shadow:0 1rem 2rem var(--box-shadow-color);
    border-radius: 8px;
}

.indus .indus_content .indus_group .card i {
    display: inline-block;
    font-size: 38px;
    color: #009f4d;
    width: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.indus .indus_content .indus_group .card .text h3 a.titlea {
    text-decoration: none;
    display: block;
    color: #3f3a64;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px !important;
    transition: all 0.5s;
}

.indus .indus_content .indus_group .card .text {
    font-size: 17px;
    line-height: 27px;
}

.indus .indus_content .indus_group .card .text p {
    opacity: 0.8;
}

.indus .indus_content .indus_group .card .text h3 a:hover {
    color: #009f4d;
}

/* Technology  */
.tech {
    padding: 80px 0;
    position: fixed;
    background-image: url(./../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 0;

}

.tech .tech_content .tech_left,.tech_right {
    padding-right: 100px;
    width: 100%;
}


.tech .tech_content .tech_left .left_title .sub_title {
    font-size: 15px;
    font-weight: 600;
    color: white;
    opacity: 0.9;
}

.tech .tech_content .tech_left .left_title h3 {
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin: 20px 0 40px;
}

.tech .tech_content .tech_left .left_infor .icon {
    color: white;
    font-size: 40px;
    margin-right: 25px;
}

.tech .tech_content .tech_left .left_infor .text h4 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.tech .tech_content .tech_left .left_infor .text p {
    font-size: 18px;
    color: #eee;
    margin-top: 10px;
    margin-bottom: 0;
}

.tech .tech_content .tech_left .left_infor .item {
    border-bottom: 1px solid #aaa;
}

.tech .tech_content .tech_left .left_infor .text p a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

.tech .tech_content .tech_right .right_title h4 {
    color: #3f3a64;
    font-size: 28px;
    font-weight: 600;
}

.tech .tech_content .tech_right .right_title p {
    font-size: 17px;
    line-height: 27px;
    opacity: 0.8;
}

.tech .tech_content .tech_right form .form-control {
    background-color: #eee;  
    color: #7e7d7d; 
    opacity: 0.8;
    border: none;
    border-radius: 4px;
    padding: 20px;
}

.tech .tech_content .tech_right form #validationTooltip01,#validationTooltip02 {
    height: 50px;
}

.tech .tech_content .tech_right form .btn-primary {
    background-color: #00a63f;
    padding: 15px 50px !important;
    font-size: 16px;
    font-weight: 600;
    border: #00a63f;
    transition: all 0.5s;
}

.tech .tech_content .tech_right {
    border-radius: 8px;
    padding: 60px ;
}

.tech .tech_content .tech_right form .btn-primary:hover {
    background-color: #00732c;
    border: #00732c;
}

/* Solution  */
.solution {
    padding: 70px 0;
    background-color: #f7f7f7;
}

.solution .solution_content .title .sub_title {
    font-size: 15px;
    font-weight: 600;
}

.solution .solution_content .title h3 {
    font-size: 35px;
    font-weight: 700;
    color: #3f3a64;
    margin: 10px 0 40px;
}

.solution .solution_content .solution_group .img {
    padding: 20px 160px 15px;
}

.solution .solution_content .solution_group .card {
    box-shadow: rgba(1, 1, 1, 0.05) 2px 1px 5px 0px;
    border: none;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    
}

.solution .solution_content .solution_group .card .card-body {
   padding: 0;
   text-align: center;
}

.solution .solution_content .solution_group h5 {
    color: #3f3a64;
    font-size: 28px !important;
    font-weight: 600 !important;
    margin: 20px 0;
}

.solution .solution_content .solution_group .card-text {
    font-size: 17px;
    line-height: 27px;
    opacity: 0.7;
    margin: 30px 0;
}

.solution .solution_content .solution_group .card:hover {

    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
    animation: upTo 0.5s normal;
}

/* Footer  */
footer {
    background-color: #151421;
    color: white;
}

footer .footer_content .footer_top .row .logo {
    cursor: pointer;
}

footer .footer_content .footer_top .row .logo a {
    text-decoration: none;
    color: white;
}

footer .footer_content .footer_top .row .logo a span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: green;
    font-size: 30px;
    margin-right: 5px;
    
}

footer .footer_content .footer_top .row .logo a .title h4 {
    font-size: 30px;
    font-weight: 700 !important;
    margin: 0;
}

footer .footer_content .footer_top .row .logo a .title p {
    font-size: 14px;
    font-weight: 600;
}

footer .footer_content .footer_top .row .col-4 .description {
    color: #97a1a9;
    font-size: 18px;
    line-height: 28px;
}

footer .footer_content .footer_top .row .link  a {
    text-decoration: none;
    color: #97a1a9;
    margin-right: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

footer .footer_content .footer_top .row .link a:hover {
    color: white;
}

footer .footer_content .footer_top .row h4 {
    font-size: 22px;
    font-weight: 400;
}

footer .footer_content .footer_top .row .text p {
    color: #97a1a9;
    font-size: 18px;
    line-height: 28px;
}

footer .footer_content .footer_top .row .text p a {
    text-decoration: none;
    color: #97a1a9;
    cursor: pointer;
    transition: all 0.5s;
}

footer .footer_content .footer_top .row .text p a:hover {
    color: white;
}

footer .footer_content .footer_top .row ul {
    padding-left: 0;
}

footer .footer_content .footer_top .row ul li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 18px;
}

footer .footer_content .footer_top .row ul li a {
    text-decoration: none;
    color: #97a1a9;
    transition: all 0.5s;
    cursor: pointer;
}

footer .footer_content .footer_top .row ul li a:hover {
    color: white;
}

footer hr {
    border: none;
    width: 100%;
    height: 0.5px;
    background-color: #97a1a9;
}


footer .footer_bottom {
    color:#97a1a9;
}

footer .footer_bottom p a {
    text-decoration: none;
    color:#009f4d;
}

footer .footer_bottom p a:hover {
    color: white;
}

/* Dark Mode */
#myBody {
    background-color: white;
  }
#switchButton .fa-sun {
    display: none;
}
#switchButton .fa-moon {
    display: block;
}
.dark#myBody {
    background-color: black;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.dark .home_Service .card {
    border: 0;
    background-color: #151421;
}
.dark .wave path{
    fill: #151421;
}
/* Dark's header */
.dark .navbar.scrolled{
    background-color: black !important;
}
.dark .navbar.scrolled .nav-link{
    color: white !important;
}
.dark header .navbar.scrolled .navbar-brand span{
    color: white !important;
}
/* Dark's header */
.dark .dark__font__white{
    color: white !important;
}
.dark .dark__font__light{
    color: #c2c2c2 !important;
}
.dark .dark__bg__blk{
    background-color: black !important;
}
.dark .dark__bg__blue{
    background-color: #151421 !important;
}
.dark .dark__border__white{
    border: 1px solid white !important;
}

/* BackToTop   */
.backtotop a {
    text-decoration: none;
    color: #e6ebff;
    opacity: 0.5;
}

.backtotop p {
    color: #e6ebff;
    font-size: inherit;
    opacity: 0.5;
    font-weight: 500;
}
.backtotop hr {
    margin: 0;
    border: none;
    width: 100%;
    height: 0.5px;
    background-color: #97a1a9;
}

.backtotop .backtotop_content .top a {
    font-size: 18px;
}

.backtotop_content {
    background-color: #0D1326;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 0;
    top: 25%;
    position: fixed;
    z-index: 999999;
    border-radius: 8px 0 0 8px;
}

.top,.bottom {
    padding: 25px 15px;
    cursor: pointer;
}

.backtotop .icon:hover a {
    color: white;
    opacity: 1;
}

.backtotop .icon:hover p {
    color: white;
    opacity: 1;
}

.backtotop2 a {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #009f4d;
    padding: 0;
    line-height: 50px;
    border-radius: 35px;
    transition: 0.3s ease-out;
    text-align: center;
}





















@keyframes upTo {
    0% {
        opacity: 0.9;

        transform:  translateY(0);
    }
    
    100% {
       opacity: 1;
        transform: translateY(-4px);
    }
}

@media screen and (min-width:576px) {
    .solution .solution_content .solution_group .img {
        padding: 20px 190px 15px;
    }
}

@media screen and (min-width:768px) {
    .solution .solution_content .solution_group .img {
        padding: 20px 270px 15px;
    }
}

@media screen and (min-width:992px) {
    .tech .tech_content {
        display: flex;
        justify-content: space-between;
    }

    .tech .tech_content .tech_left,.tech_right {
        width: 50%;
    }
    
    .solution .solution_content .solution_group .img {
        padding: 20px 100px 15px;
    }
}

@media screen and (min-width:1200px) {
    .solution .solution_content .solution_group .img {
        padding: 20px 130px 15px;
    }
}


@media screen and (min-width:1400px) {
    .solution .solution_content .solution_group .img {
        padding: 20px 160px 15px;
    }
}













